{% extends 'main/base.html' %}
{% load static %}

{% block contentTitle %}
    {{ patient.name }}, {{ patient.bed_num }}
{% endblock contentTitle %}

{% block content %}
    <!-- Patient details form -->
    <form class="form" action="" method="post" id="registrationForm">
        {% csrf_token %}
        <div class="container">
            <div class="patient-form">
                <div class="row">
                    <div class="col-md-4 form-field mt-4 mb-0">
                        <label for="mobile"><h6>Patient's contact</h6></label>
                        <input type="text" id="mobile" class="input-text form-control" name="mobile" placeholder="Mobile No" value="{{ patient.phone_num }}">
                    </div>

                    <div class="offset-md-2 col-md-4 form-field mt-4 mb-0">
                        <label for="mobile2"><h6>Relative's contact</h6></label>
                        <input type="text" id="mobile2" class="input-text form-control" name="mobile2" placeholder="Relative's Mobile No" value="{{ patient.patient_relative_contact }}">
                    </div>

                    <div class="col-md-7 form-field mt-4">
                        <label for="relativeName"><h6>Relative's Name</h6></label>
                        <input type="text" class="input-text form-control" name="relativeName" id="relativeName" value="{{ patient.patient_relative_name }}">
                    </div>

                    <div class="col-md-7 form-field mt-0">
                        <label for="location"><h6>Address</h6></label>
                        <input type="text" class="input-text form-control" id="location" placeholder="Address" name="location" value="{{ patient.address }}">
                    </div>

                    <div class="offset-md-1 col-md-4 form-field mt-0">
                        <label for="symptoms"><h6>Symptoms</h6></label>
                        <input type="text" class="input-text form-control" name="symptoms" id="symptoms" value="{{ patient.symptoms }}">
                    </div>

                    <div class="col-md-7">
                        <h6>Prior ailments</h6>
                        <label for="prior_ailments"><h4>{{ patient.prior_ailments }}</h4></label>
                    </div>

                    <div class="col-md-5">
                        <h6>Bed number</h6>
                        <label for="bed_num"><h4>{{ patient.bed_num }}</h4></label>
                    </div>

                    <div class="col-md-6">
                        <label for="status"><h6>Status</h6></label>
                        <input type="text" class="input-text form-control" name="status" id="status" value="{{ patient.status }}">
                    </div>

                    <div class="col-md-6">
                        <label for="doctor"><h6>Doctor Assigned:</h6></label>
                        <input type="text" class="input-text form-control" name="doctor" id="doctor" value="{{ patient.doctor }}">
                    </div>

                    <div class="col-md-6">
                        <label for="doctor_time"><h6>Doctor Visiting Time:</h6></label>
                        <input type="text" class="input-text form-control" name="doctor_time" id="doctor_time" value="{{ patient.doctors_visiting_time }}">
                    </div>

                    <div class="col-md-6">
                        <label for="doctor_notes"><h6>Doctor Notes:</h6></label>
                        <textarea class="input-text form-control" name="doctor_notes" id="doctor_notes">{{ patient.doctors_notes }}</textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5 mx-auto">
                <br>
                <button class="btn btn-lg btn-success btn-block mx-auto" type="submit">
                    <i class="glyphicon glyphicon-ok-sign"></i> Save
                </button>
            </div>
        </div>
    </form>
{% endblock content %}
